{% extends "layout.html" %}
{% block content %}
    <div class="wrapper">
        {% include "emp_sidebar.html" %}
        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <!-- Button for sidebar toggle -->
                <button class="btn" id="toggleSidebar" type="button" >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="profile dropdown-center" >
                    <div class="name" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{emp_details.fname}} {{emp_details.lname}}</div>
                    <div class="emp-id" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{emp_details.eid}}</div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{%url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'change_password'%}">change password</a></li>
                        <li><a class="dropdown-item" href="{% url 'emp_logout' %}">logout</a></li>
                      </ul>
                </div>
                
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="card" style="width: 50rem;">
                            <div class="card-body">
                              <h5 class="card-title mb-4">Change Password</h5>
                              <form action="" method="POST">
                                {% if messages %}
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{message}}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                      </div>
                                      {% else %}
                                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{message}}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                      </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="current_pass" class="">current password</label>
                                    <input type="text" class="form-control" id="current_pass" name="current_pass" required>
                                    
                                </div>
                                  <div class="mb-3">
                                    <label for="new_pass" class="">new password</label>
                                    <div class="pass-icon">
                                      <input type="password" class="form-control" id="password" name="new_pass" required>
                                      <i class="bi bi-eye-slash" id="hide-pass" onclick="pass()"></i>
                                      <i class="bi bi-eye" id="show-pass" style="visibility:hidden" onclick="pass()"></i>
                                  </div>
                                  </div>
                                  <div class="mb-3">
                                    <label for="confirm_new_pass" class="">confirm new password</label>
                                    <div class="pass-icon">
                                      <input type="password" class="form-control" id="password2" name="confirm_new_pass" required>
                                      <i class="bi bi-eye-slash" id="hide-pass2" onclick="cnfm_pass()"></i>
                                      <i class="bi bi-eye" id="show-pass2" style="visibility:hidden" onclick="cnfm_pass()"></i>
                                    </div>
                                  </div>
                                  
                               

                                <button type="submit" class="btn btn-primary float-end">change</button>
                              </form>
                              
                            </div>
                          </div>
                        
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% endblock content %}