<!-- Sidebar -->
<aside id="sidebar" class="sidebar ">
    <div class="h-100">
        <div class="sidebar-logo">
            <b>ELMS</b>
        </div>
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
            <li class="sidebar-item leave_request ">
                <a href="{% url 'leave_request'%}" class="sidebar-link">
                    <i class="bi bi-file-text"></i>
                    Apply Leave
                </a>
            </li>
            <li class="sidebar-item view_history ">
                <a href="{% url 'view_history'%}" class="sidebar-link ">
                    <i class="bi bi-card-list"></i>
                    View History
                </a>
            </li>
        </ul>
    </div>
</aside>